* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

#logo {
	opacity: 0.6;
}

body {
	background-color: rgba(255,236,179 ,1);
}

.tempImg {
	width: 100%;
	height: 296px;
	opacity: 0.5;
}
